@import url('https://fonts.googleapis.com/css?family=Roboto:wght@500&display=swap');

.navbar{
    background-color: rgb(1,28,44) !important;
}

/* This sets the colour of the 'Source' link in the navbar */
.navbar .nav-item a{
    color: rgb(255,211,0) !important;
}

/* dropdown-menu manages the right-hand menu (where we access the Playground
   amongst other things) */
.navbar .dropdown-menu{
    /*  the rgba() function works just like rgb in that
        it sets a colour.  But the fourth element sets an
        'alpha' or transaparency value.  Here we are saying
        to set the transparency to 30%
    */
    background-color: rgba(1,28,44,0.8);
}
/* Sets properties for when hovering over a menu item in the 
   drop-down menu */
.dropdown-item:hover{
    background-color: rgba(1,28,44,0.3);
}

/* Sets the appearnce for the 'Continue' button... */
.btn-primary{
  color: rgb(255,255,255);
  background-color: rgb(0, 45, 97);
  border-color: rgb(0,0,0);
}
/* ...and when hovering over it */
.btn-primary:hover{
  color: rgb(0,0,0);
  background-color: rgba(151,201,255,0.3);
  border-color: rgb(0,0,0);
}

/* You can make your own styles from scratch if you wish.  There's a lot
  you can do with styles - much more than setting font sizes and colours.
  Here's a brief example.  Feel free to explore this further.  Search online
  or refer to the Mozilla link at the top of this file
*/
.MJFheader{
    /* Set the colour to red */
    color: rgb(255,0,0);
    /* Make the font bigger.  This increases the font size by 20% */
    font-size: 1.2em;
    /* Make it bold */
    font-weight: bolder;
    /* Add a text shadow */
    /* check out text shadows here: https://cssreference.io/property/text-shadow/ */
    text-shadow: 2px 4px 10px tomato;
}

/* Font settings for the 'Source' and login menus in the menu bar
*/
.nav-link{
    font-weight: bolder
}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

/* Place a Flinders logo in the bottom right corner
   Set background colour to a pale version of Flinders Yellow
*/
.dabody {
    background-color: rgba(255,239,162, 0.2);
    background-image: url("flinderuni_main_logo_black.png");
    background-repeat: no-repeat;
    background-position: 98% 98%;
    background-attachment: fixed;
    background-size: 7%;
}

/* Licence for viewing software to be displayed on right side
   with smaller text
*/

/* Use a pair of DIVs so we can offset the licence from the top
   of the page
*/
#MJFLicenceOuter {
    margin: auto;
    overflow: visible;
}

#MJFLicenceInner {
    margin-top: 120px;
    background-color: rgba(255,239,162, 0.4);
    line-height: 1.1;
    font-size: 0.9em;
}

.MJFLicenceHeader {
    font-weight: bolder;
}
